.rowWrapper {
  height: 100%;
  box-sizing: border-box;
  cursor: move;

  &:hover {
    opacity: 0.7;
      & div > div > ul > li > a {
          display: block !important;
      }
    & div > div > div > a {
      display: block !important;
    }
  }

  &:active {
    opacity: 1;
  }
}

.rowWrapperDragDisabled {
  cursor: pointer;
  &:hover {
    color: rgba(51, 51, 51, 0.6);
    background-color: rgba(221, 221, 221, 0.6);
  }
}

.row {
  height: 100%;
  white-space: pre;
  display: flex;
  position: relative;

  & > * {
    box-sizing: border-box;
  }
}

/**
 * The outline of where the element will go if dropped, displayed while dragging
 */
.rowLandingPad {
  border: none;
  box-shadow: none;
  outline: none;

  * {
    opacity: 0 !important;
  }

  &::before {
    background-color: lightblue;
    border: 2px dotted black;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

/**
 * Alternate appearance of the landing pad when the dragged location is invalid
 */
.rowCancelPad {
  @extend .rowLandingPad;

  &::before {
    background-color: #e6a8ad;
  }
}

/**
 * Nodes matching the search conditions are highlighted
 */
.rowSearchMatch {
  box-shadow: inset 0 -7px 7px -3px #0080ff;
}

/**
 * The node that matches the search conditions and is currently focused
 */
.rowSearchFocus {
  box-shadow: inset 0 -7px 7px -3px #fc6421;
}

%rowItem {
  display: flex;
  vertical-align: middle;
}

.rowContents {
  @extend %rowItem;
  position: relative;
  height: 100%;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rowLabel {
  @extend %rowItem;
  flex: 0 1 auto;
}

.rowToolbar {
  @extend %rowItem;
  flex: 0 1 auto;
  display: flex;
}

.toolbarButton {
  @extend %rowItem;
  margin-left: 12px;
}

.collapseButton,
.expandButton {
  appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  z-index: 2;
  position: absolute;
  top: 45%;
  width: 30px;
  height: 30px;
  transform: translate3d(-50%, -50%, 0);
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    transform-origin: 7px 4px;
    transform: translate3d(-50%, -20%, 0);
    border: solid transparent 10px;
    border-left-width: 7px;
    border-right-width: 7px;
    border-top-color: gray;
  }

  &:hover::after {
    border-top-color: black;
  }

  &:focus {
    outline: none;

    &::after {
      filter: drop-shadow(0 0 1px #83bef9) drop-shadow(0 0 1px #83bef9)
        drop-shadow(0 0 1px #83bef9);
    }
  }
}

.expandButton::after {
  transform: translate3d(-50%, -20%, 0) rotateZ(-90deg);
}

/**
 * Line for under a node with children
 */
.lineChildren {
  height: 100%;
  display: inline-block;
}

/* ==========================================================================
   Scaffold

    Line-overlaid blocks used for showing the tree structure
   ========================================================================== */
.lineBlock {
  height: 100%;
  position: relative;
  display: inline-block;
  flex: 0 0 auto;
}

.absoluteLineBlock {
  @extend .lineBlock;
  position: absolute;
  top: 0;
}

/* Highlight line for pointing to dragged row destination
   ========================================================================== */
$highlight-color: #36c2f6;
$highlight-line-size: 6px; // Make it an even number for clean rendering

/**
 * +--+--+
 * |  |  |
 * |  |  |
 * |  |  |
 * +--+--+
 */
.highlightLineVertical {
  z-index: 3;

  &::before {
    position: absolute;
    content: '';
    background-color: $highlight-color;
    width: $highlight-line-size;
    margin-left: $highlight-line-size / -2;
    left: 50%;
    top: 0;
    height: 100%;
  }

  @keyframes arrow-pulse {
    $base-multiplier: 10;
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    30% {
      transform: translate(0, 30% * $base-multiplier);
      opacity: 1;
    }
    70% {
      transform: translate(0, 70% * $base-multiplier);
      opacity: 1;
    }
    100% {
      transform: translate(0, 100% * $base-multiplier);
      opacity: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    height: 0;
    margin-left: -1 * $highlight-line-size / 2;
    left: 50%;
    top: 0;
    border-left: $highlight-line-size / 2 solid transparent;
    border-right: $highlight-line-size / 2 solid transparent;
    border-top: $highlight-line-size / 2 solid white;
    animation: arrow-pulse 1s infinite linear both;
  }
}

/**
 * +-----+
 * |     |
 * |  +--+
 * |  |  |
 * +--+--+
 */
.highlightTopLeftCorner {
  &::before {
    z-index: 3;
    content: '';
    position: absolute;
    border-top: solid $highlight-line-size $highlight-color;
    border-left: solid $highlight-line-size $highlight-color;
    box-sizing: border-box;
    height: calc(50% + #{$highlight-line-size / 2});
    top: 50%;
    margin-top: $highlight-line-size / -2;
    right: 0;
    width: calc(50% + #{$highlight-line-size / 2});
  }
}

/**
 * +--+--+
 * |  |  |
 * |  |  |
 * |  +->|
 * +-----+
 */
.highlightBottomLeftCorner {
  $arrow-size: 7px;
  z-index: 3;

  &::before {
    content: '';
    position: absolute;
    border-bottom: solid $highlight-line-size $highlight-color;
    border-left: solid $highlight-line-size $highlight-color;
    box-sizing: border-box;
    height: calc(100% + #{$highlight-line-size / 2});
    top: 0;
    right: $arrow-size;
    width: calc(50% - #{$arrow-size - ($highlight-line-size / 2)});
  }

  &::after {
    content: '';
    position: absolute;
    height: 0;
    right: 0;
    top: 100%;
    margin-top: -1 * $arrow-size;
    border-top: $arrow-size solid transparent;
    border-bottom: $arrow-size solid transparent;
    border-left: $arrow-size solid $highlight-color;
  }
}
.removeFromTreeBtn {
  // white >>>   fill='%23e8e8e8'
  // black >>>   fill='%23424242'
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='3 3 16 16'%3E%3Cpath fill='%23424242' d='M12.597 11.042l2.803 2.803-1.556 1.555-2.802-2.802L8.239 15.4l-1.556-1.555 2.802-2.803-2.802-2.803 1.555-1.556 2.804 2.803 2.803-2.803L15.4 8.239z'/%3E%3C/svg%3E") 50% no-repeat;
  display: none;
  margin-right: .2em;
  margin-top: 4px;
  margin-left: 4px;
  width: 8px;
  height: 8px;
  cursor: pointer;
}
.replaceFile {
  // white >>>   fill='%23e8e8e8'
  // black >>>   fill='%23424242'
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16px' height='16px' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'%3E %3Cg id='icon_x5F_bg'%3E %3Cpath fill='%23424242' d='M11,15V9H1v6H11z M2,14v-2h1v-1H2v-1h3v4H2z M10,11H8v2h2v1H7v-4h3V11z M3,13v-1h1v1H3z M13,7v6h-1V8H5V7 H13z M13,2V1h-1v5h3V2H13z M14,5h-1V3h1V5z M11,2v4H8V4h1v1h1V4H9V3H8V2H11z'/%3E %3C/g%3E %3Cg id='color_x5F_action'%3E %3Cpath fill='%2300539C' d='M1.979,3.5L2,6L1,5v1.5L2.5,8L4,6.5V5L3,6L2.979,3.5c0-0.275,0.225-0.5,0.5-0.5H7V2H3.479 C2.651,2,1.979,2.673,1.979,3.5z'/%3E %3C/g%3E %3C/svg%3E") 50% no-repeat;
  display: none;
  marginRight: .2em;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.replaceField {
  // white >>>   fill='%23e8e8e8'
  // black >>>   fill='%23424242'
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='%23424242'%3E%3Cpath d='M11 3V1h-1v6h4V3h-3zm2 3h-2V4h2v2zM2 15h7V9H2v6zm2-5h3v1H5v2h2v1H4v-4z'/%3E%3C/g%3E%3Cpath fill='%2300539C' d='M3.979 3.5L4 6 3 5v1.5L4.5 8 6 6.5V5L5 6l-.021-2.5c0-.275.225-.5.5-.5H9V2H5.479c-.828 0-1.5.673-1.5 1.5z'/%3E%3C/svg%3E") 50% no-repeat;
  display: none;
  marginRight: .2em;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.counter {
  color: rgb(255, 255, 255);
  background-color: rgb(77, 77, 77);
  text-align: center;
  display: inline-block;
  padding: .3em .5em;
  border-radius: 1em;
  font-size: 85%;
  min-width: 1.6em;
  line-height: 1em;
  font-weight: 400;
  box-sizing: border-box;
  margin-right: 12px;
}
.activeField {
  background-color: blue!important;
  color: white!important;
  opacity: 0.7;
}
